<footer class="footer">
  <section class="container">
    {{ with .Site.Params.footercontent }}
      <p>{{.}}</p>
    {{ end }}
    {{ if not .Site.Params.hideCopyright }} © {{ now.Format "2006" }}{{ end }}
    {{ if not .Site.Params.hideCredits }}
      {{ if not .Site.Params.hideCopyright }} · {{ end }}
      {{ i18n "powered_by" }} <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/">Coder</a>.
    {{ end }}
    {{ if .Site.Params.commit }}
      {{ if or (not .Site.Params.hideCredits) (not .Site.Params.hideCopyright) }} · {{ end }}
      [<a href="{{ .Site.Params.commit }}{{ getenv "GIT_COMMIT_SHA" }}">{{ getenv "GIT_COMMIT_SHA_SHORT" }}</a>]
    {{ end }}
  </section>

</footer>
